name: Tests

on:
  push:
    branches:
      - main
      - lean
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: false
        default: 'warning'
      branches:
        description: 'branches tested'
        required: false
        default: 'lean'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip

      - name: Get samtools, bedtools, buildtools
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            samtools bedtools \
            build-essential \
            gcc g++

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install \
            "cython>=3.0" \
            "numpy>=2.3.0" \
            "scipy>=1.16.0" \
            "pandas>=2.3.0" \
            "pysam>=0.23.3" \
            "pybedtools>=0.11.2" \
            "PyWavelets>=1.9.0" \
            "pytest"
          pip install -e .

      - name: Run test_core.py
        working-directory: ./tests
        run: |
          pytest --disable-warnings -vv -s -rPA -l test_core.py
